﻿@model WebApplication1.ViewModle.BMIData

@{
    ViewBag.Title = "Index";
}

<h2>測量BMI</h2>

<form action="/BMI/Index" method="post">
    @Html.DisplayNameFor(f => f.Height)
    @Html.TextBoxFor(f => f.Height) 公分
    @Html.ValidationMessageFor(modelItem => @Model.Height)<br />

    @Html.DisplayNameFor(f => f.Weight)
    @Html.TextBoxFor(f => f.Weight)  公斤
    @Html.ValidationMessageFor(modelItem => @Model.Weight)<br />

    <input type="submit" name="name" value="送出" /> <br />

</form>
<br />

計算結果:@Model.BMI <br />
肥胖等級:@Model.Level